.Dark-UI-1-hex { color: #202529; }
.Dark-UI-2-hex { color: #32383D; }
.Dark-UI-3-hex { color: #4C555C; }
.Dark-UI-4-hex { color: #A1B4C4; }
.Dark-UI-5-hex { color: #1BC6B4; }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1BC6B4;
}

*:focus{
  outline: 0;
}

html, body, #root{
  height: 100%;
}

body{
  font: 14px 'Roboto', sans-serif;
  background-color: #202529;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
 cursor: pointer; 
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.container-login{
  background-color: #4C555C ;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
}

.container-login h1{
  color: #1BC6B4;
}

.logo img{
  padding: 20px;
  width: 170px;
  height: 170px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px 0;
}

.form input{
  margin: 10px 0;
  height: 35px;
  border: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  color: #32383D;
  background-color: #A1B4C4;
}

.form button{
  height: 35px;
  margin: 10px 0;
  color: #32383D;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}


