.Dark-UI-1-hex { color: #202529; }
.Dark-UI-2-hex { color: #32383D; }
.Dark-UI-3-hex { color: #4C555C; }
.Dark-UI-4-hex { color: #A1B4C4; }
.Dark-UI-5-hex { color: #1BC6B4; }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #1BC6B4; */
}

*:focus{
  outline: 0;
}

html, body, #root{
  height: 100%;
}

body{
  font: 14px 'Roboto', sans-serif;
  background-color: #202529;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
 cursor: pointer; 
}

/* Login e Cadastro */

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.container-login{
  background-color: #4C555C ;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
}

.container-login h1{
  color: #1BC6B4;
}

.logo img{
  padding: 20px;
  width: 170px;
  height: 170px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px 0;
}

.form input{
  margin: 10px 0;
  height: 35px;
  border: none;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  color: #32383D;
  background-color: #A1B4C4;
}

.form button{
  height: 35px;
  margin: 10px 0;
  color: #32383D;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}

/* Barra lateral */

.sidebar{
  width: 200px;
  height: 100vh;
  background-color: #4C555C;
  position: fixed;
}

.avatar{
  padding: 10px;
}

.avatar img{
  width: 100px;
  height: 90px;
  padding-left: 10px;
  border-radius: 50%;
}

.links{
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.links a{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: ease-in-out .4s;
  font-size: 1.2em;
  color: #1BC6B4;
}

.links svg{
  margin-right: 7px;
  color: #1BC6B4;
}

.links a:hover{
  background-color: #32383D;
}


/* Dashboard */


.title{
  margin-left: 200px;
  padding: 1px 16px;
}

.title div{
  display: flex;
  align-items: center;
  margin: 1em 0;
  border-radius: 5px;
  background-color: #A1B4C4;
  padding: .8em;
}

.title svg{
  color: #202529; 
}
.title h1{
  color: #202529; 
  font-size: 1.5em;
  margin-left: 8px;
}

/* Iformações de perfil */

.container-profile{
  margin-left: 200px;
  padding: 1px 16px;
}

.form-profile{
  background-color: #A1B4C4;
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  border-radius: 5px;
  background-color: #A1B4C4;
  padding: .8em;
}



.avatar-label{
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar-label input{
  display: none;
}

.avatar-label img{
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
}

.form-profile label{
  font-size: 1.4em;
}

.avatar-label svg{
  z-index: 99;
  position: absolute;
  opacity: .8 ;
  transition: all ease-in-out .4s ;
}

.avatar-label svg:hover{
  opacity: 1;
  transform: scale(1.7);
}

.form-profile input{
  border: none;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  color: #32383D;
  max-width: 600px;
}

.form-profile input:disabled{
  cursor: not-allowed;
}

.form-profile button{
  height: 35px;
  margin: 10px 0;
  color: #32383D;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  max-width: 600px;
}





@media screen and (max-width: 700px){
  .sidebar{
    width: 100%;
    height: auto;
    position: relative;
  }

  .avatar{
    display: none;
  }

  .links{
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    
  }

  .sidebar a{
    display: flex;
    justify-content: space-between;
    padding: 5px 12px;
  }

  .title{
    margin-left: 0;
    
  }

  .container-profile{
    margin-left: 0;
  }
}

@media screen and (max-width: 460px){
  .sidebar svg{
    display: none;
  }

  .links a {
    font-size: 1em;
    
  }
}

